<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>
<%= render 'shared/error_messages' %>

<div class="row">
	<div class="col-lg-4">
	</div>
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">Signup form</div>
		<div class="panel-body">
		<%= form_for(@user) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control", placeholder: "Name"  %>
			<p></p>
			<%= f.label :email, "Email" %>
			<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
			<p></p>
			<%= f.label :password, "Password" %>
			<%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
			<p></p>
			<%= f.label :password_confirmation, "Confirm password" %>
			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation"  %>
			<p></p>
			<%= f.submit "Create account", class: "btn btn-large btn-primary"%>
			<p></p>
		<% end %>
		</div>
	</div>
</div>
</div>
